body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 6px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
